@page "/APIData"

@inject HttpClient Http

<h3>teste</h3>

<p>Result:@result</p>
@code{
    private bool result;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var response = await Http.GetAsync("/api/Contacts");
            if (response.IsSuccessStatusCode)
            {
                result = true;
            }
            else
            {
                result = false;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            
        }
    }

}
